#title > div {
    top: 0;
}
h2 {
    padding: 38px 0 0;
}
#photo {
    width: 260px;
}
#photo span {
    color: #898989;
    display: block;
    text-align: right;
}
#caption {
    margin-top: 10px;
}