#title > div {
    top: 0;
}
h2 {
    padding: 38px 0 0;
}
#photo {
    width: 260px;
    max-height: 230px;
}
#photo span {
    color: #999;
    display: block;
    text-align: right;
}