#title > div {
    bottom: 0;
}
h2 {
    padding: 0 0 20px;
}
#story {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
}
#graphic {
    position: relative;
    border: 2px solid black;
    width: 260px;
    height: 230px;
}
#photo span {
    color: black;
    background-color: white;
    opacity: 0.66;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 4px;
}
#caption {
    margin-top: 10px;
}
#options {
    position: absolute;
    margin-left: 280px;
    line-height: 15px;
    z-index: 100;
}
#photo {
    margin-right: 10px;
    float: left;
}
#report {
    margin-top: 20px;
    margin-left: 280px;
    position: absolute;
}
#story p {
    margin-top: 0;
}
#comment .icon {
    background-position: 0 -19px !important;
}
#share .icon {
    background-position: -20px -19px !important;
}
#favorite .icon {
    background-position: -40px -19px !important;
}
#vote .icon {
    background-position: -60px -19px !important;
}
#comment:hover .icon {
    background-position: 0 0 !important;
}
#share:hover .icon {
    background-position: -20px 0 !important;
}
#favorite:hover .icon {
    background-position: -40px 0 !important;
}
#vote:hover .icon {
    background-position: -60px 0 !important;
}