<script>
var ADAPT_CONFIG = {
    path: "../css/",
    dynamic: true,
    range: [
        "0 to 450 = thin.css",
        "450 = wide.css"
    ]
};
</script>
<script src="../js/adapt.min.js"></script>

<div>
    I'm a view and my story is:
    <br />
    <%= story %>
</div>